/* Some Bonus button styling */
.button, .button span {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button {
  white-space: nowrap;
  line-height:1em;
  position:relative;
  outline: none;
  overflow: visible; /* removes extra side padding in IE */
  cursor: pointer;
  border: 1px solid #999;/* IE */
  border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
  border-bottom:rgba(0, 0, 0, .4) 1px solid;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, .1) 0%,
    rgba(0, 0, 0, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(0, 0, 0, .1)),
    to(rgba(255, 255, 255, .1))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
  -moz-user-select: none;
  -webkit-user-select:none;
  -khtml-user-select: none;
  user-select: none;
}
.button:hover, .button.hover {
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, .2) 0%,
    rgba(255, 255, 255, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(255, 255, 255, .2))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
  background: -moz-linear-gradient(
    center top,
    rgba(0, 0, 0, .1) 0%,
    rgba(255, 255, 255, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(0, 0, 0, .1))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')"; /* IE8 */
}

.button span {
  position: relative;
  color:#fff;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
  line-height:1em;
  text-decoration:none;
  text-align:center;
  white-space: nowrap;
  vertical-align:bottom;
}
a.button, a.button:link, a.button:active, a.button:hover, a.button:focus, a.button:visited {
  padding:8px 15px;
  text-decoration:none;
}

a.button.wide, a.button.wide:link, a.button.wide:active, a.button.wide:hover, a.button.wide:focus, a.button.wide:visited {
    padding:10px 0;
    text-decoration:none;
    width:100%;
}

a.button.verysmall, a.button.verysmall:link, a.button.verysmall:active, a.button.verysmall:hover, a.button.verysmall:focus, a.button.verysmall:visited {
    padding: 6px 6px;
    text-decoration:none;
    vertical-align:middle;
}


.button.tadlblue { background-color:#004677; }
.button.red { background-color:#E62727; }
.button.orange { background-color:#FF5C00; }
.button.yellow { background-color:#FFB515; }
.button.green { background-color:#91BD09; }
.button.blue { background-color:#00ADEE; }
.button.purple { background-color:#800080; }
.button.white { background-color:#ffffff; }
.button.white.span { color:#666666; }
.button.gray { background-color:#666666; }
.button.pink { background-color:#E22092; }
.button.black { background-color:#333333; }
.button.cyan { background-color:#46C7C7; }
.button.trans { background-color:rgba(0,0,0,0.5); }

.button.verysmall span { font-size:10px; }
.button.small span { font-size:12px; }
.button.medium span { font-size:16px; }
.button.large span { font-size:20px; }

.button.bold span { font-weight:bold; }

/* On-Off styling */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #024773; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



