/* Some Bonus button styling */
.button, .button span {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button {
  white-space: nowrap;
  line-height:1em;
  position:relative;
  outline: none;
  overflow: visible; /* removes extra side padding in IE */
  cursor: pointer;
  border: 1px solid #999;/* IE */
  border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
  border-bottom:rgba(0, 0, 0, .4) 1px solid;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, .1) 0%,
    rgba(0, 0, 0, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(0, 0, 0, .1)),
    to(rgba(255, 255, 255, .1))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
  -moz-user-select: none;
  -webkit-user-select:none;
  -khtml-user-select: none;
  user-select: none;
  margin-bottom:10px;
}
.button:hover, .button.hover {
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, .2) 0%,
    rgba(255, 255, 255, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(255, 255, 255, .2))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
  top:1px;
  background: -moz-linear-gradient(
    center top,
    rgba(0, 0, 0, .1) 0%,
    rgba(255, 255, 255, .1) 100%
  );/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(0, 0, 0, .1))
  );/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
  top:1px;
}
.button span {
  position: relative;
  color:#fff;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
  line-height:1em;
  text-decoration:none;
  text-align:center;
  white-space: nowrap;
  font-size:14px;
}
a.button, a.button:link, a.button:active, a.button:hover, a.button:focus, a.button:visited {
  padding:8px 0;
  text-decoration:none;
  width:100%
}
.button.tadlblue { background-color:#004677; }
.button.red { background-color:#E62727; }
.button.orange { background-color:#FF5C00; }
.button.yellow { background-color:#FFB515; }
.button.green { background-color:#91BD09; }
.button.blue { background-color:#00ADEE; }
.button.purple { background-color:#800080; }

