a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width:100%;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 10px;
}

body {
  padding: 60px 0;
  background: #f0f2f5;
  color: #000000;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  padding-top: 20px;
}

.card {
  background: #ffffff;
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  text-align: left;
  -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
  -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
  box-shadow:2px 2px 3px rgba(0,0,0,0.5);
}

.grid-container {
  padding-bottom: 5px;
}

.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

div[class*="push-"] section {
  background: #ddeecc;
}

div[class*="pull-"] section {
  background: #ffccdd;
}

.dynamic-px-width {
  display: block;
}

#wrapper {
    margin:0;
    padding:0;
}

.topmenu {
    background-color:#dddddd;
}

.searchbar {
    display:block;
    background-color:#dddddd;
    padding-top:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    z-index:1000;
}

#search_options {
display: none;
}

#login_container {
    position:absolute;
    top:100px;
    left:300px;
}

#login_form {
    display:none;
    background:#dddddd;
    position:absolute;
    z-index:1999;
    top:33px;
    right:0px;
    line-height:2em;
    padding:10px;
    min-width:175px;
}
/*
a.button {
    display:block;
    width:100%;
    color:#fff;
    font-size:1.3em;
    margin:0;
    padding:5px 0;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
*/
.result_img {
    padding-top:15px;
}

.cardtitle {
    display:inline-block;
    line-height:16px;
    padding-top:15px;
}

em.subtitle {
    display:inline-block;
    font-size:0.9em;
}

.viewmore {
    text-decoration:none;
    color:#33B5E5;
    font-size:0.8em;
    cursor:pointer;
}

.pointer {
    cursor:pointer;
}

h4.title {
    margin:10px 0 0 0;
    text-align:center;
}

img.icon {
    max-width:25px;
    min-width:25px;
    max-height:25px;
    min-height:25px;
}
