a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width:100%;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 10px;
}

body {
  padding: 62px 0 0 0;
  background: #f0f2f5;
  color: #000000;
  text-align: center;
}

a {
  color:#004577;
  text-decoration: none;
  cursor:pointer;
}

a:hover {
    text-decoration:underline;
}

h1 {
  padding-top: 20px;
}

.flow {
    display:inline-block;
    vertical-align:bottom;
}

.tablet-grid-45.flow {
    float:none;
}
.card {
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  text-align: left;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
  box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

.grid-container {
  padding-bottom: 5px;
}

.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

div[class*="push-"] section {
  background: #ddeecc;
}

div[class*="pull-"] section {
  background: #ffccdd;
}

.dynamic-px-width {
  display: block;
}

#wrapper {
    margin:0;
    padding:0;
}

.topmenu {
    background-color:#dddddd;
}

.searchbar {
    display:block;
    background: linear-gradient(center top, #f0f2f5, #dddddd);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#f0f2f5), to(#dddddd));
    background: -moz-linear-gradient(center top , #f0f2f5, #dddddd);
    padding-top:8px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:1000;
}

#search_options {
    background-color:gray;
    display: none;
}

#search-params {
    text-align:center
}

#login_container {
    position:absolute;
    top:100px;
    left:300px;
}

#login_form {
    display:none;
    background:#dddddd;
    position:fixed;
    z-index:9999;
    top:53px;
    right:0px;
    line-height:2em;
    padding:10px;
    min-width:175px;
}

.result_img {
    padding-top:15px;
}

.cardtitle {
    display:inline-block;
    font-size:16px;
    line-height:18px;
    padding-top:15px;
    font-weight:bold;
    vertical-align:bottom;
    white-space:normal;
}

em.subtitle {
    display:inline-block;
    font-size:0.9em;
}

.viewmore {
    text-decoration:none;
    color:#33B5E5;
    font-size:0.8em;
    cursor:pointer;
}

.pointer {
    cursor:pointer;
}

h4.title {
    margin:10px 0 0 0;
    text-align:center;
    font-weight:bold;
}

img.icon {
    max-width:35px;
    min-width:35px;
    max-height:35px;
    min-height:35px;
}

img.icon.acct {
    max-width:40px;
    min-width:40px;
    max-height:40px;
    min-height:40px;
    padding-top:2px;
}

img.icon.logo {
    max-width:35px;
    min-width:35px;
    max-height:30px;
    min-height:30px;
}

.padtop {
    padding: 10px 0 0 0;
}

.padbot {
    padding:0 0 15px 0;
}

.padv {
    padding:15px 0;
}

.padh {
    padding:0 15px;
}

.nopad {
    padding:0;
}

.facetlist {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
    font-size: 14px;
}

.boxtitle-bottom {
    bottom:0;
}

.boxtitle-top {
    top:0;
}

.boxtitle {
    padding:5px 0;
    position:absolute;
    left:0;
    background:rgba(0,0,0,0.6);
    color:#fff;
    width:100%;
    text-align:center;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-size:1.2em;
}

.itembox {
    max-width:280px;
    position:relative;
}

.img-viewer {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:50%;
    height:120px;
    overflow:hidden;
}

.item25 img {
    max-width:23%;
    padding:auto;
    margin:auto;
}

.img-viewer img {
    margin:0;
    padding:0;
    min-height:125px;
    min-width:125px;
    position:absolute;
}

.actionlink {
    text-decoration: none;
    color:#33B5E5;
    font-size:1.2em;
    font-weight:bold;
    cursor:pointer;
}

.holdmessage {
    padding:2px;
    margin:2px;
    display:none;
}

.holdmessage.error {
    border:2px solid #E62727;
    background-color:#FFB6B8;
}

.holdmessage.success {
    border:2px solid #91BD09;
    background-color:#DDFF74;
}

.smaller {
    font-size:0.8em;
}

.verysmall,
.smallest {
    font-size:0.6em;
}

tr.smaller td {
    min-width:0;
    border-left:2px solid #f0f2f5;
    padding:0 5px;
}

tr.smaller td:first-child {
    min-width:0;
    border:none;
    padding:0 5px 0 0;
}

.summary {
    padding:0 0 5px 0;
    margin-bottom:5px;
    margin-top: 5px;
}

input.search {
    width:100%;
    height:25px;
    font-size:16px;
//    padding:0 5px;
//    margin-top:2px;
}

.hidden {
    display:none;
}

.spinner {
    margin:0 10px;
}

#working {
    text-align:center;
    position:absolute;
    top:200px;
    z-index:200000;
    width:100%;
}

#one-pad,
#two-pad,
#three-pad,
#third-pad,
#twothirds-pad,
#thirdone-pad,
#thirdtwo-pad,
#wide-pad {
    max-height:1px;
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    left: 15px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 14px;
    padding: 1em;
    display: none;
    cursor:pointer;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration:none;
}

#locsel {
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    height:50px;
    position:relative;
    transition: background 0.5s;
}

#page_banner {
   display: none;
   height: 50px;
   color: #fff;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 5px;
   -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
   -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
   box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

#page_banner h2 {
  text-align:left;
  font-size: 26px;
  padding: 6px 8px 8px 12px;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

#locloc {
    font-size:26px;
    line-height:24px;
}

#lochours {
    font-size:12px;
}

table.hours {
    width:70%;
    margin: auto;
}

.left {
    text-align:left;
}
.right {
    text-align:right;
}
.center {
    text-align:center;
}

.mobile-grid-10.nav {
    padding-left:0;
}

.floatright {
    float:right;
}

#footer {
    color:#f0f2f5;
    background-color:#000;
}

#footer-wrapper {
    background:url(https://www.tadl.org/sites/all/themes/converge/images/footer-glow-bg.png) center top repeat-x;
}

#footer-container {
    background:url(https://www.tadl.org/sites/all/themes/converge/images/footer-top-shadow.png) left top repeat-x;
    border-bottom:rgba(255,255,255,.20) 1px solid;
    margin-bottom:20px;
}

#footer-pad {
    min-height:100px;
}

.fancybox-type-iframe .fancybox-next {
    right:-60px;
}

.fancybox-type-iframe .fancybox-prev {
    left:-60px;
}

.fancybox-type-iframe .fancybox-nav {
    width:60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility:visible;
    opacity:0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity:1;
}

ul.footer-menu li {
    background:url(https://www.tadl.org/sites/all/themes/converge/images/list-style-arrow.png) left center no-repeat;
    padding: 6px 0 6px 14px;
    list-style:none;
    list-style-image:none;
    text-align:left;
    border-bottom:rgba(255,255,255,.20) 1px solid;
}

ul.footer-menu li.last {
    border-bottom:none;
}

ul.footer-menu li a {
    color:#f0f2f5;
}

ul.footer-top-menu li {
    background:url(https://www.tadl.org/sites/all/themes/converge/images/list-style-arrow.png) left center no-repeat;
    padding:0 15px;
    display:inline;
    list-style:none;
    list-style-image:none;
}

ul.footer-top-menu li a {
    color:#f1f5f3;
}

ul.footer-top-menu li.last {
}

h3.footer-heading {
    padding-left:30px;
    text-align:left;
}
#footer h3 a {
    color:#f0f2f5;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

